.employeemanagementlistitem {
    width: 100%;
    height: 65px;
    background: transparent;
    border-bottom: 1px solid #DEE1E6;

    display: grid;
    grid-template-columns: 60px 2fr 2fr 1.5fr 1.5fr 1fr;
    gap: 20px;

    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

    &_id,
    &_name,
    &_number {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #171A1F;
        white-space: nowrap;
    }

    &_birth {
        font-size: 12px;
        font-weight: 600;
        width: 49px;
        height: 22px;
        line-height: 20px;
        color: #171A1F;
        background: #F3F4F680;
        border-radius: 15px;
        white-space: nowrap;
        text-align: center;
        padding-top: 2px;
    }

    &_addres {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #565D6DFF;
        white-space: nowrap;
    }

    &_actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        .employeemanagementlistitem_actions_edit {
            width: 30px;
            height: 30px;
            background: #FFF7ED;
            border: 1px solid #FFEDD5;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_editicons {
                color: #D97706;
                font-size: 18px;
            }
        }

        .employeemanagementlistitem_actions_delete {
            width: 30px;
            height: 30px;
            background: #FEF2F2;
            border: 1px solid #FEE2E2;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_deleteicons {
                color: #DC2626;
                font-size: 18px;

            }
        }

        .employeemanagementlistitem_actions_watch {
            background: #EFF6FF;
            border: 1px solid #DBEAFE;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_watchicons {
                color: #2563EB;;
                font-size: 18px;

            }
        }
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #171A1F99;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

    .modal_content {
        width: 400px;
        height: 294px;
        background: #FFFFFF;
        border-radius: 16px;
        box-shadow: 0px 25px 50px #00000040;
        padding: 32px;
        display: grid;
        align-items: center;
        justify-content: center;

        .modal_warning {
            width: 64px;
            height: 64px;
            background: #FEE2E2FF;
            border-radius: 50%;
            padding: 14px;
            margin-bottom: 10px;
            margin-left: 40%;

            .modal_warning_icons {
                font-size: 36px;
                color: #EF4444FF;
            }
        }

        .modal_text {
            font-family: Manrope;
            text-align: center;
            font-size: 18px;
            line-height: 23px;
            font-weight: 700;
            color: #171A1FFF;
        }

        .modal_reminding {
            font-family: Manrope;
            font-size: 14px;
            line-height: 21px;
            font-weight: 400;
            text-align: center;
            color: #565D6DFF;
        }

        .modal_wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .modal_btn_yes {
                width: 161px;
                height: 44px;
                padding: 0 12px;
                font-family: Manrope;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                color: #FFFFFFFF;
                background: #EF4444FF;
                border-radius: 10px;
            }

            .modal_btn_no {
                width: 161px;
                height: 44px;
                padding: 0 12px;
                font-family: Manrope;
                font-size: 14px;
                line-height: 22px;
                font-weight: 600;
                color: #565D6DFF;
                background: #FFFFFFFF;
                border-radius: 10px;
                border: 1px solid #DEE1E6FF;
            }
        }
    }
}