.employeemanagementlistitem {
    width: 100%;
    height: 85px;
    background: transparent;
    border-bottom: 1px solid #DEE1E6;

    display: grid;
    grid-template-columns: 60px 2fr 2fr 1.5fr 1.5fr 1fr;
    gap: 20px;

    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;

    &_id,
    &_name,
    &_number {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #171A1F;
        white-space: nowrap;
    }

    &_birth {
        font-size: 12px;
        font-weight: 600;
        width: 49px;
        height: 22px;
        line-height: 20px;
        color: #171A1F;
        background: #F3F4F680;
        border-radius: 15px;
        white-space: nowrap;
        text-align: center;
        padding-top: 2px;
    }

    &_addres {
        font-size: 14px;
        font-weight: 600;
        line-height: 20px;
        color: #565D6DFF;
        white-space: nowrap;
    }

    &_actions {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 15px;

        .employeemanagementlistitem_actions_edit {
            width: 30px;
            height: 30px;
            background: #FFF7ED;
            border: 1px solid #FFEDD5;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_editicons {
                color: #D97706;
                font-size: 18px;
            }
        }

        .employeemanagementlistitem_actions_delete {
            width: 30px;
            height: 30px;
            background: #FEF2F2;
            border: 1px solid #FEE2E2;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_deleteicons {
                color: #DC2626;
                font-size: 18px;

            }
        }

        .employeemanagementlistitem_actions_watch {
            background: #ECFDF5;
            border: 1px solid #D1FAE5;
            width: 30px;
            height: 30px;
            border-radius: 4px;
            padding: 5px;

            .employeemanagementlistitem_watchicons {
                color: #059669;
                font-size: 18px;

            }
        }
    }
}